In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd
import numpy as np

**Task-1**

In [ ]:
#create dataframe
df = pd.DataFrame([np.random.rand(4), np.random.rand(4), np.random.rand(4), np.random.rand(4)])
df

          0         1         2         3
0  0.847170  0.873349  0.368123  0.020249
1  0.271442  0.529344  0.997389  0.984373
2  0.929320  0.442253  0.039435  0.255845
3  0.190698  0.775928  0.022840  0.225752

**Task-2**

In [ ]:
#Renaming the columns of the dataframe
df.rename(columns={0: 'Random value 1', 1: 'Random value 2', 2: 'Random value 3', 3: 'Random value 4'}, inplace=True)
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.847170        0.873349        0.368123        0.020249
1        0.271442        0.529344        0.997389        0.984373
2        0.929320        0.442253        0.039435        0.255845
3        0.190698        0.775928        0.022840        0.225752

**Task-3**

In [ ]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.559658        0.655219        0.356947        0.371555
std          0.382323        0.202773        0.455606        0.421746
min          0.190698        0.442253        0.022840        0.020249
25%          0.251256        0.507572        0.035287        0.174376
50%          0.559306        0.652636        0.203779        0.240799
75%          0.867707        0.800283        0.525439        0.437977
max          0.929320        0.873349        0.997389        0.984373

**Task-4**

In [ ]:
#Finding null values
print(df.isnull(), '\n')

#Displaying the datatype of each column
print('Data type of Random value 1: {}'.format(df['Random value 1'].dtype))
print('Data type of Random value 2: {}'.format(df['Random value 2'].dtype))
print('Data type of Random value 3: {}'.format(df['Random value 3'].dtype))
print('Data type of Random value 4: {}'.format(df['Random value 4'].dtype))

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

Data type of Random value 1: float64
Data type of Random value 2: float64
Data type of Random value 3: float64
Data type of Random value 4: float64

**Task-5**

In [ ]:
#location method
print(df.loc[0:,'Random value 2':'Random value 3'], '\n')

#Index location method
print(df.iloc[0:, 1:3])

   Random value 2  Random value 3
0        0.873349        0.368123
1        0.529344        0.997389
2        0.442253        0.039435
3        0.775928        0.022840

   Random value 2  Random value 3
0        0.873349        0.368123
1        0.529344        0.997389
2        0.442253        0.039435
3        0.775928        0.022840