In [ ]:
#import thelibraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

**Task 1: Read the dataset**

In [ ]:
#Reading the dataset
df=pd.read_csv('drug200.csv')
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

**Preprocessing the data**

In [ ]:
df.describe(include='all')

               Age  Sex    BP Cholesterol     Na_to_K   Drug
count   200.000000  200   200         200  200.000000    200
unique         NaN    2     3           2         NaN      5
top            NaN    M  HIGH        HIGH         NaN  DrugY
freq           NaN  104    77         103         NaN     91
mean     44.315000  NaN   NaN         NaN   16.084485    NaN
std      16.544315  NaN   NaN         NaN    7.223956    NaN
min      15.000000  NaN   NaN         NaN    6.269000    NaN
25%      31.000000  NaN   NaN         NaN   10.445500    NaN
50%      45.000000  NaN   NaN         NaN   13.936500    NaN
75%      58.000000  NaN   NaN         NaN   19.380000    NaN
max      74.000000  NaN   NaN         NaN   38.247000    NaN

In [ ]:
df.isnull().sum()

In [ ]:
df.info()

In [ ]:
plt.pie(df.BP.value_counts(),labels=['High','Low','Normal'],colors = ['red','yellow','green'],shadow=True,autopct='%1.1f%%')

In [ ]:
sns.pairplot(df)

In [ ]:
sns.heatmap(df.corr())

In [ ]:
df['Drug'].unique()

In [ ]:
df['Drug'].value_counts()

In [ ]:
le=LabelEncoder()
df['Sex']=le.fit_transform(df['Sex'])

df['BP']=le.fit_transform(df['BP'])

df['Cholesterol']=le.fit_transform(df['Cholesterol'])
df

In [ ]:
x=pd.get_dummies(df.iloc[:,1:5]).values
x

In [ ]:
y=pd.get_dummies(df.iloc[:,5:]).values
y

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size=0.2,random_state=12)

**Task 2**

**Classification**

In [ ]:
#intialize the sequence model
cla_model=Sequential()
#adding the input layer to the model
cla_model.add(Dense(5,activation='relu'))
#adding the 1st hidden layer to the model
cla_model.add(Dense(64,activation='relu'))
#adding the 2st hidden layer to the model
cla_model.add(Dense(32,activation='relu'))
#adding the 3st hidden layer to the model
cla_model.add(Dense(24,activation='relu'))
#adding output layer
cla_model.add(Dense(5,activation='softmax'))

In [ ]:
# Compiling the skeleton with loss and gradient decent
cla_model.compile(optimizer='adam',loss='sparse_categorical_crossentropy',metrics=['accuracy'])

In [ ]:
# Training the model
cla_model.fit(xtrain,ytrain,batch_size=4,epochs=10,validation_data=(xtest,ytest))

**Regression**

In [ ]:
#Initializing the seq model
reg_model = Sequential()
#Input layer to the model
reg_model.add(Dense(5,activation='relu'))
#Adding the 1st hidden layer
reg_model.add(Dense(64,activation='relu'))
#Adding the 2nd hidden layer
reg_model.add(Dense(24,activation='relu'))
#Adding the 3nd hidden layer
reg_model.add(Dense(32,activation='relu'))
#Adding the output layer
reg_model.add(Dense(1,activation='linear'))

In [ ]:
#Compiling the skeleton with loss and gradient decent
reg_model.compile(optimizer='adam',loss='mse')

In [ ]:
#Train the model
reg_model.fit(xtrain,ytrain,batch_size=4,epochs=10)

In [ ]:
#Test the model
ypredict=reg_model.predict(xtest)
comp=pd.DataFrame(ypredict)
comp.columns=['Actual Values']
comp['Predicted Values']=ypredict
comp

**Task 3**

In [ ]:
#prediction
reg_model.predict([[324234,4545455,232323,2]])